// Colors
$primary-color: #111111;
$secondary-color: #1f1f1f;
$accent-color-blue: #0496ff;
$accent-color-pink: #da006d;
$accent-color-orange: #f69365;

$white-color: #fefefe;

// Padding
$padding-lg: 2rem;
$padding-md: 1rem;
$padding-sm: 0.5rem;
